          <tr>
            <td class='single_right' style='text-align:right;'><%= number_with_precision(fermentable.pounds, :precision => 2) %></td>
            <td class='single_right' style='text-align:center;'>Lb</td>
            <td class='single_right' style='text-align:center;'><%= fermentable.gravity_points_per_pound %></td>
            <td class='single_right'><%= fermentable.name %></td>
            <td class='single_right' style='text-align:right;'><%= fermentable.color %></td>
            <td style='text-align:right;'><%= number_with_precision(fermentable.total_gravity_points, :precision => 2) %></td>
          </tr>
