    <div class='grid_12' style='text-align:left;margin-top:12pt;'>
      <%= image_tag "logo.jpg" %>
    </div>
    <div class='grid_12'>
      <table>
        <tbody>
          <tr>
            <th>Batch Number: </th>
            <td class='entry_line' colspan='3'>
              <%= @recipe.batch_number %>
            </td>
          </tr>
          <tr>
            <th>Brew Date: </th>
            <td class='entry_line' colspan='3'>
              &nbsp;
            </td>
          </tr>
          <tr>
            <th>Name: </th>
            <td class='entry_line' colspan='3'>
              <%= @recipe.name %>
            </td>
          </tr>
          <tr>
            <th>Style: </th>
            <td class='entry_line' colspan='3'>
              <%= @recipe.style %>
            </td>
          </tr>
          <tr>
            <th>Batch Size: </th>
            <td class='entry_line' colspan='3'>
              <%= number_with_precision(@recipe.batch_size, :precision => 2) %>
            </td>
          </tr>
          <tr>
            <th>IBU: </th>
            <td class='entry_line' style='width:40%;'>
              <%= @recipe.ibu %> (<%= @recipe.ibu_method %>)
            </td>
            <th>Color: </th>
            <td class='entry_line' style='width:30%;'>
              <%= @recipe.color %>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class='grid_24 header'>
      Yeast
    </div>
    <div class='grid_16'>
      <p class='subheader'>Types</p>
      <%= render :partial => "yeast_row", :collection => @recipe.yeasts, :as => :yeast %>
    </div>
    <div class='grid_8'>
      <p class='subheader'>Starter</p>
      <table>
        <tbody>
          <tr>
            <th>Yeast Viability:</th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th>Volume: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='grid_10'>
      <p class='header'>Mash</p>
      <table>
        <tbody>
          <tr>
            <th>Water/Mash: </th>
            <td style='width:100%;'><%= @recipe.mash_thickness %> l/kg</td>
          </tr>
          <tr>
            <th>Mash Volume: </th>
            <td style='width:100%;'>
              <%= number_with_precision(@recipe.mash_volume, :precision => 2) %> l
            </td>
          </tr>
          <tr>
            <th>Mash Temp: </th>
            <td style='width:100%;'>
              <% if @recipe.mash_details_included? %>
                <%= number_with_precision(@recipe.mash_temp.to.fahrenheit, :precision => 0) %> F
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Strike Temp: </th>
            <td style='width:100%;'>
              <% if @recipe.mash_details_included? %>
                <%= number_with_precision(@recipe.strike_temp(@recipe.mash_temp,18.celsius,@recipe.mash_volume,@recipe.grain_weight).to.fahrenheit, :precision => 0) %> F                
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Sparge Temp: </th>
            <td style='width:100%;'>
              <% if @recipe.mash_details_included? %>
                <%= number_with_precision(@recipe.strike_temp(
                  170.fahrenheit.to.celsius,
                  @recipe.mash_temp,
                  @recipe.sparge_water,
                  @recipe.grain_weight,
                  Brewhouse.water_lost_in_false_bottom
                ).to.fahrenheit, :precision => 0) %> F
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <img src="http://chart.apis.google.com/chart?chxp=0,0,15,30,45,60&chf=bg,s,ffffff&chxr=0,0,60|1,100,170&chxs=0,676767,11.5,0,lt,676767|1,676767,11.5,-0.5,lt,676767&chxt=x,y&chs=390x300&cht=lxy&chd=s:&chg=25,7.15,0,0" width="390" height="300" alt="" style='margin-top:10px;'/>
      <table style='margin:1em 0em 0em 0em !important;'>
        <thead>
          <tr>
            <th>Max Gravity</th>
            <th>Actual Gravity</th>
            <th>Efficiency</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='single_right' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.maximum_mash_gravity.to.brewers_points, :precision => 0) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
            <td class='single_right' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.expected_mash_gravity.to.brewers_points, :precision => 0) %>
                (<%=  number_with_precision(@recipe.expected_mash_gravity.to.terril_brix, :precision => 1) %>)
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
            <td style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.expected_efficiency, :precision => 2) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p class='header'>Boil</p>
      <table>
        <tbody>
          <tr>
            <th>Duration: </th>
            <td class='entry_line'><%= @recipe.boil_length %> minutes</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th style='border-bottom: solid transparent 1px !important;'>&nbsp;</th>
            <th style='width:50%;'>Before</th>
            <th style='width:50% !important;'>After</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Volume: </th>
            <td class='single_right' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.pre_boil_volume, :precision => 2) %> l
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
            <td style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.post_boil_volume, :precision => 2) %> l
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>
          <tr>
            <th>Gravity: </th>
            <td class='single_right' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.pre_boil_gravity.to.brewers_points, :precision => 0) %>
                (<%= number_with_precision(@recipe.pre_boil_gravity.to.terril_brix, :precision => 1) %>)
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
            <td style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.post_boil_original_gravity.to.brewers_points, :precision => 0) %>
                (<%= number_with_precision(@recipe.post_boil_original_gravity.to.terril_brix, :precision => 1) %>)
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='grid_14'>
      <p class='header'>Recipe</p>
      <p class='subheader'>Grist</p>
      <table>
        <thead>
          <tr>
            <th style='width:4em !important;'>Qty</th>
            <th style='width:4em !important;'>Lb/kg</th>
            <th style='width:4em !important;'>PPG</th>
            <th>Ingredient</th>
            <th style='width:4em !important;'>Color</th>
            <th style='width:4em !important;'>Gravity<br />Points</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "fermentable_row", :collection => @recipe.fermentables, :as => :fermentable %>
        </tbody>
      </table>
      <p class='subheader'>Hops</p>
      <table>
        <thead>
          <tr>
            <th style='width:4em !important;'>Time</th>
            <th style='width:3em !important;'>Qty</th>
            <th style='width:3em !important;'>Oz/g</th>
            <th>Ingredient</th>
            <th style='width:4em !important;white-space: nowrap;'>&alpha; Acid</th>
            <th style='width:4em !important;'>Form</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'hop_row', :collection => @recipe.first_wort_hops, :as => :hop %>
          <%= render :partial => 'hop_row', :collection => @recipe.boil_hops, :as => :hop %>
          <%= render :partial => 'hop_row', :collection => @recipe.aroma_hops, :as => :hop %>
          <%= render :partial => 'hop_row', :collection => @recipe.dry_hops, :as => :hop %>
        </tbody>
      </table>
      <% if @recipe.additions %>
      <p class='subheader'>Additions</p>
      <table>
        <thead>
          <tr>
            <th style='width:4em !important;'>Time</th>
            <th>Ingredient</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'addition_row', :collection => @recipe.additions, :as => :addition %>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class='clear'>&nbsp;</div>
    <div class='grid_10'>
      <p class='header'>Cooling</p>
      <table>
        <tbody>
          <tr>
            <th>Method: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
          <tr>
            <th>Time Elapsed: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
          <tr>
            <th>Final Temperature: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class='grid_14' style='display:none;'>
      <p class='header'>Whirlpool</p>
      <table>
        <thead>
          <tr>
            <th style='border-bottom: solid transparent 1px !important;'>&nbsp;</th>
            <th style='width:50%;'>Hot</th>
            <th style='width:50% !important;'>Cold</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Length: </th>
            <td class='single_right'>&nbsp;</td>
            <td class=''>&nbsp;</td>
          </tr>
          <tr>
            <th>Hops Removed: </th>
            <td class='single_right'>&nbsp;</td>
            <td class=''>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class='grid_14'>
      <p class='header'>Aeration/Oxygenation</p>
      <table>
        <tbody>
          <tr>
            <th>Method: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
          <tr>
            <th>Rate: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
          <tr>
            <th>Time: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='grid_24'>
      <p class='header'>Fermentation</p>
    </div>
    <div class='grid_6'>
      <table>
        <tbody>
          <tr>
            <th>Volume in fermenter: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='white-space:nowrap;text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.fermenter_volume, :precision => 2) %> l
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>
          <tr>
            <th>Pitch Temperature: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.fermentation_temperature, :precision => 0) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>  
          <tr>
            <th>Pitch Time: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>  
          <tr>
            <th>OG: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.estimated_original_gravity.to.brewers_points, :precision => 0) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>   
          <tr>
            <th>FG: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.estimated_final_gravity.to.brewers_points, :precision => 0) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>   
          <tr>
            <th>ADF: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.estimated_apparent_attenuation, :precision => 2) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>   
          <tr>
            <th>ABV: </th>
            <td class='entry_line' style='text-align:center;vertical-align:middle;'>
              <div style='text-align:middle !important; display:inline;float:left;width:45%;'>
                <%= number_with_precision(@recipe.abv, :precision => 2) %>
              </div>
              |
              <div style='text-align:left !important; display:inline;float:right;width:45%;'>
                &nbsp;
              </div>
            </td>
          </tr>   
        </tbody>
      </table>
    </div>
    <div class='grid_18'>
      <img src="http://chart.apis.google.com/chart?chf=bg,s,ffffff&chxr=0,0,10|1,30,80&chxs=0,676767,11.5,0,lt,676767|1,676767,11.5,-0.5,lt,676767&chxt=x,y&chs=710x150&cht=lxy&chd=s:&chg=-1,10,0,0" width="710" height="150" alt="" />
    </div>
    <div class='grid_24'>
      <p class='header'>Recipe Notes</p>
      <p><%= @recipe.notes %></p>
    </div>
  </div>
  <div class='container_24' style='page-break-before:always;'>
    <div class='grid_18' style='text-align:left;margin-top:12pt;'>
      <%= image_tag "logo.jpg" %>
    </div>
    <div class='clear'>&nbsp;</div>
    <div class='grid_12 alpha'>
      <p class='header'>
        Water
      </p>
      <p class='subheader'>Treatment</p>
      <table>
        <thead>
          <tr>
            <th style='border-bottom: solid transparent 1px !important;'>&nbsp;</th>
            <th style='width:25%;'>Mash</th>
            <th style='width:25% !important;'>Sparge</th>
            <th style='width:25% !important;'>Kettle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Gypsum: </th>
            <td class='single_right' >&nbsp;</td>
            <td class='single_right' >&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>Calcium Chloride: </th>
            <td class='single_right' >&nbsp;</td>
            <td class='single_right' >&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <p class='subheader'>Expected Runnings</p>
      <table>
        <thead>
          <tr>
            <th style='border-bottom: solid transparent 1px !important;'>&nbsp;</th>
            <th style='width:25%;'>Gravity</th>
            <th style='width:25% !important;'>Weight</th>
            <th style='width:25% !important;'>Volume</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>First: </th>
            <td class='single_right' ><%= number_with_precision(@recipe.expected_first_runnings_gravity.to.brewers_points, :precision => 2) %></td>
            <td class='single_right' ><%= number_with_precision(@recipe.expected_first_runnings_volume.to_f * @recipe.expected_first_runnings_gravity.to_f, :precision => 2) %> kg</td>
            <td><%= number_with_precision(@recipe.expected_first_runnings_volume, :precision => 2) %> l</td>
          </tr>
          <tr>
            <th>Second: </th>
            <td class='single_right' ><%= number_with_precision(@recipe.expected_second_runnings_gravity.to.brewers_points, :precision => 2) %></td>
            <td class='single_right' ><%= number_with_precision(@recipe.expected_second_runnings_volume.to_f * @recipe.expected_second_runnings_gravity.to_f, :precision => 2) %> kg</td>
            <td><%= number_with_precision(@recipe.expected_second_runnings_volume, :precision => 2) %> l</td>
          </tr>
        </tbody>
      </table>
      <p class='subheader'>Volume</p>
      <table style='width:100%;'>
        <tr>
          <th>Grain Weight</th>
          <td class='no_line'>&nbsp;</td>
          <td style='width:80%;'>
            <%= number_with_precision(@recipe.grain_weight, :precision => 2) %> kg
          </td>
        </tr>
        <tr>
          <th>l lost per kg</th>
          <td class='no_line' style='text-align:right;'>x</td>
          <td>
            <%= number_with_precision(Brewhouse.litres_water_absorbed_per_kg_of_grain, :precision => 2) %>
          </td>
        </tr>
        <tr>
          <th>Lost to Grain</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.water_absorbed_by_grain, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Mash Water</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision(@recipe.mash_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Lost to Grain</th>
          <td class='no_line'>&ndash;</td>
          <td>
            <%= number_with_precision(@recipe.water_absorbed_by_grain, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Lost to False Bottom</th>
          <td class='no_line'>&ndash;</td>
          <td>
            <%= number_with_precision(Brewhouse.water_lost_in_false_bottom, :precision => 2) %> l
          </td>
        </tr>
        <!-- <tr>
          <th>Expected First Runnings</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.expected_first_runnings_volume, :precision => 2) %> l
            (
              <%= number_with_precision(@recipe.expected_first_runnings_volume.to_f * @recipe.expected_first_runnings_gravity.to_f, :precision => 2) %> kg @
              <%= number_with_precision(@recipe.expected_first_runnings_gravity.to.brewers_points, :precision => 2) %>
            )
          </td>
        </tr> -->
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Boil Volume</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision(@recipe.pre_boil_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Expected First Runnings</th>
          <td class='no_line' style='text-align:right;'>&ndash;</td>
          <td>
            <%= number_with_precision(@recipe.expected_first_runnings_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Sparge Loss</th>
          <td class='no_line' style='text-align:right;'>+</td>
          <td>
            <%= number_with_precision(Brewhouse.sparge_loss, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Sparge Water</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.sparge_water, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Hours of Boil</th>
          <td class='no_line'>&nbsp;</td>
          <td><%= @recipe.boil_length / 60 %></td>
        </tr>
        <tr>
          <th>Hourly Evaporation Rate</th>
          <td class='no_line' style='text-align:right;'>x</td>
          <td><%= number_with_precision(@recipe.expected_hourly_evaporation_rate, :precision => 2) %></td>
        </tr>
        <tr>
          <th>Total Evaporation Rate</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.total_evaporation_rate, :precision => 2) %>
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Boil Volume</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision(@recipe.pre_boil_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Total Evaporation Rate</th>
          <td class='no_line' style='text-align:right;'>x</td>
          <td>
            <%= number_with_precision(@recipe.total_evaporation_rate, :precision => 2) %>
          </td>
        </tr>
        <tr>
          <th>Post-Boil Volume</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.post_boil_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Post-Boil Volume</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision(@recipe.post_boil_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Trub</th>
          <td class='no_line' style='text-align:right;'>&ndash;</td>
          <td>
            <%= number_with_precision(Brewhouse.trub_loss, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Absorbed by hops</th>
          <td class='no_line' style='text-align:right;'>&ndash;</td>
          <td><%= number_with_precision(@recipe.water_absorbed_by_hops, :precision => 2) %> l</td>
        </tr>
        <tr>
          <th>Sample/Test loss</th>
          <td class='no_line' style='text-align:right;'>&ndash;</td>
          <td>
            <%= number_with_precision(Brewhouse.sample_loss, :precision => 2) %> l
          </td>
        </tr>
<% if @recipe.partial_boil? %>
        <tr>
          <th>Wort to Fermenter</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.wort_to_fermenter, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Make-Up Water</th>
          <td class='no_line' style='text-align:right;'>+</td>
          <td>
            <%= number_with_precision(@recipe.make_up_water, :precision => 2) %> l
          </td>
        </tr>
<% end %>
        <tr>
          <th>Fermenter Volume</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.fermenter_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td class='no_line'>&nbsp;</td>
          <td class='no_line'>&nbsp;</td>
        </tr>
        <tr>
          <th>Fermenter Volume</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision(@recipe.fermenter_volume, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Number of Fermenters</th>
          <td class='no_line'>&nbsp;</td>
          <td>
            <%= number_with_precision((@recipe.fermenter_volume.to_f / 22.71).ceil, :precision => 0) %>
          </td>
        </tr>
        
        <tr>
          <th>Fermenter Loss</th>
          <td class='no_line' style='text-align:right;'>&ndash;</td>
          <td>
            <%= number_with_precision((@recipe.fermenter_volume.to_f / 22.71).ceil * Brewhouse.fermenter_loss.to_f, :precision => 2) %> l
          </td>
        </tr>
        <tr>
          <th>Packaging Volume</th>
          <td class='no_line' style='text-align:right;'>=</td>
          <td>
            <%= number_with_precision(@recipe.packaging_volume, :precision => 2) %> l
          </td>
        </tr>
      </table>
    </div>
    <div class='grid_12 omega'>
      <p class='header'>
        Forced Fermentation
      </p>
      <table>
        <tbody>
          <tr>
            <th>Volume: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
          <tr>
            <th>Final Gravity: </th>
            <td class='entry_line'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <p class='header'>
        Fermentation Log
      </p>
      <% 20.times do |x| %>
      <p class='entry_line'>&nbsp;</p>
      <% end %>
      <p class='header'>Carbonation</p>
      <table>
        <tbody>
          <tr>
            <th>Begun On: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th>Method: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th>Volume Carbonated: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th>Volumes CO<sup>2</sup>: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th>Primed With/CO<sup>2</sup> PSI: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <p class='header'>Packaging</p>
      <table>
        <tbody>
          <tr>
            <th>Packaged On: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
          <tr>
            <th style='text-align:left;' colspan='2'>Packaged Into</th>
          </tr>
          <% ["12oz","500ml","22oz","750ml","64oz","5gal"].each do |size|%>
          <tr>
            <th><%= size %>: </th>
            <td style='width:100%;'>&nbsp;</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class='grid_24'>
      <p class='header'>Brewing Notes</p>
      <% 6.times do |x| %>
        <p class='entry_line'>&nbsp;</p>
      <% end %>
    </div>
